extends layout

block content
  .main-content
    div
      .entry
        form#transform(action="/transform", method="post")
          input#input(type="text", name="sentence", autocomplete="off", value="Enter a sentence")
    .message
      span.turns
      span.ellipsis
    div
      .output
        #output-text “VB DT NN”
    .key &#x21A1; tags
  .extra-content
    .about
      h1 Parts of Speech Parser
      a(href="https://github.com/vlmlee/partsparser") View this project on github
      p This is a simple parser using the pos-js tagger written by 
        | #[a(href="https://github.com/oxtoacart") Percy Wegmann] and the code 
        | can be found #[a(href="https://github.com/neopunisher/pos-js") here].
      p 
