extends layout

block content
  .main-container
    .main-content
      div
        .entry
          form#transform(action="/transform", method="post")
            input#input(type="text", name="sentence", autocomplete="off", value="Enter a sentence")
      .message
        span.turns
        span.ellipsis
      div
        .output 
          #output-text “#[span.vb VB] #[span.dt DT] #[span.nn NN]”
      .key &#x21A1; tags
  .extra-content
    .about
      h1 Parts of Speech Parser
      a(href="https://github.com/vlmlee/partsparser") &nbsp; &nbsp; View this project on github
      p This is a fast parser that uses the pos-js tagger written by 
        | #[a(href="https://github.com/oxtoacart") Percy Wegmann] to 
        | convert words into their parts of speech. The code for Wegmann's tagger 
        | can be found #[a(href="https://github.com/neopunisher/pos-js") here].
      p The standard tags come from the #[a(href="https://cs.nyu.edu/grishman/jet/jet.1.8.0.html") Java Extraction Toolkit (JET)] 
        | definitions used for language analysis. There are defined as listed below:
      .pos-list
        ul.section-pos-list
          li CC &nbsp;: Coordinating conjunction
          li CD &nbsp;: Cardinal number
          li DT &nbsp;: Determiner
          li EX &nbsp;: Existential there
          li FW &nbsp;: Foreign word
          li IN &nbsp;: Preposition or sub. conjunction
          li JJ &nbsp;: Adjective
          li JJR : Adjective, comparative
          li JJS : Adjective, superlative
          li LS &nbsp;: List item marker
          li MD &nbsp;: Modal
          li NN &nbsp;: Noun, singular or mass
          li NNS : Noun, plural
          li NNP : Proper noun, singular
          li NNPS: Proper noun, plural 
          li PDT : Predeterminer
          li POS : Possessive ending
          li PRP : Personal pronoun
        ul.section-pos-list 
          li PRP$: Possessive pronoun
          li RB &nbsp;: Adverb
          li RBR : Adverb, comparative
          li RBS : Adverb, superlative
          li RP &nbsp;: Particle
          li SYM : Symbol
          li TO &nbsp;: "to"
          li UH &nbsp;: Interjection
          li VB &nbsp;: Verb, base form
          li VBD : Verb, past tense
          li VBG : Verb, gerund or present participle
          li VBN : Verb, past participle
          li VBP : Verb, non-3rd person sing. present
          li VBZ : Verb, 3rd person sing. present
          li WDT : Wh-determiner
          li WP &nbsp;: Wh-pronoun
          li WP$ : Possessive wh-pronoun
          li WRB : Wh-adverb
      .mygithub © 2016 Designed by #[a(href="https://github.com/vlmlee") Michael Lee]