extends layout

block content
  .main-container
    .main-content
      div
        .entry
          form#transform(action="/transform", method="post")
            input#input(type="text", name="sentence", autocomplete="off", value="Enter a sentence")
      .message
        span.turns
        span.ellipsis
      div
        .output
          #output-text “VB DT NN”
      .key &#x21A1; tags
  .extra-content
    .about
      h1 Parts of Speech Parser
      a(href="https://github.com/vlmlee/partsparser") View this project on github
      p This is a quick parser using the pos-js tagger written by 
        | #[a(href="https://github.com/oxtoacart") Percy Wegmann] to 
        | convert words into their parts of speech. The code for that module 
        | can be found #[a(href="https://github.com/neopunisher/pos-js") here].
      p The standard tags come from the #[a(href="https://cs.nyu.edu/grishman/jet/jet.1.8.0.html") Java Extraction Toolkit (JET)] 
        | used for language analysis. There are defined as listed below:
      .pos-list
        ul.section-pos-list
          li CC  : Coordinating conjunction
          li CD  : Cardinal number
          li DT  : Determiner
          li EX  : Existential there
          li FW  : Foreign word
          li IN  : Preposition or sub. conjunction
          li JJ  : Adjective
          li JJR : Adjective, comparative
          li JJS : Adjective, superlative
          li LS  : List item marker
          li MD  : Modal
          li NN  : Noun, singular or mass
          li NNS : Noun, plural
          li NNP : Proper noun, singular
          li NNPS : Proper noun, plural 
          li PDT : Predeterminer
          li POS : Possessive ending
          li PRP : Personal pronoun
        ul.section-pos-list 
          li PRP$ : Possessive pronoun
          li RB  : Adverb
          li RBR : Adverb, comparative
          li RBS : Adverb, superlative
          li RP  : Particle
          li SYM : Symbol
          li TO  : to
          li UH  : Interjection
          li VB  : Verb, base form
          li VBD : Verb, past tense
          li VBG : Verb, gerund or present participle
          li VBN : Verb, past participle
          li VBP : Verb, non-3rd person sing. present
          li VBZ : Verb, 3rd person sing. present
          li WDT : Wh-determiner
          li WP  : Wh-pronoun
          li WP$ : Possessive wh-pronoun
          li WRB : Wh-adverb
      .mygithub © 2016 Designed by #[a(href="https://github.com/vlmlee") Michael Lee]