extends layout

block content
  .main-content
    div
      .entry
        form#transform(action="/transform", method="post")
          input#input(type="text", name="sentence", autocomplete="off", value="Enter a sentence")
    .message
      span.turns
      span.ellipsis
    div
      .output
        #output-text “VB DT NN”
    .key &#x21A1; tags
  .extra-content
    .about
      h1
      a(href="https://github.com/vlmlee/partsparser") View this project on github
