@import url('https://fonts.googleapis.com/css?family=Space+Mono|Source+Code+Pro|Karla');
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Italic.ttf');
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #EFF3F3;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #222;
    text-decoration: none;
}

.main-container {
	width: 100%;
	background-color: #222c3f;
}

.main-content {
    width: 60%;
    height: 640px;
    padding-top: 275px;
    margin: 0 auto 0;
}

.extra-content {
    width: 100%;
    height: 805px;
    background-color: #EFF3F3;
    font-family: 'Karla';
    font-weight: 300;
    font-size: 22px;
    padding-top: 60px;
}

.about {
    width: 60%;
    margin: 0 auto;
}

.about h1 {
	margin: 20px 0;
}

.about a {
	color: #666;
	margin: 0 auto;
	transition: color 0.5s;
}

a:hover {
    color: #428bca;
}

ul li {
	list-style-type: none;
}

.pos-list {
	font-family: 'Source Code Pro';
	font-weight: bold;
	margin: 35px auto;
	font-size: 16px;
}

.section-pos-list {
	display: inline-block;
	width: 40%;
	margin-left: 25px;
	margin-right: 25px;
}

@media (max-width: 900px) {
	.section-pos-list {
		width: 100%;
	}
}

.message,
.key {
    display: inline-block;
    width: 100%;
    margin: 60px 0;
    font-family: 'Playfair Display';
    font-style: italic;
    color: #fff;
    font-size: 28px;
    font-weight: 200;
    text-align: center;
}

.key {
    margin: 150px 0 0 0;
}

.mygithub {
	margin: 30px 0 60px 0;
	font-size: 20px;
	float: right;
}

#transform {
    display: inline-block;
    width: 100%;
    border: 3px solid rgba(255, 255, 255, 0);
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
}

#transform:hover {
    border: 3px solid rgba(255, 255, 255, 1.0);
}

#transform input {
    width: 90%;
    height: 40px;
    padding: 20px;
    border: none;
    color: #fff;
    background: #222c3f;
    font-family: 'Space Mono';
    font-size: 40px;
    font-weight: bold;
}

#transform input:focus {
    outline: none;
}

.output {
    width: 90%;
    height: 100px;
    padding: 20px;
    border: none;
    color: red;
    background: #222c3f;
    font-family: 'Space Mono';
    font-size: 40px;
    font-weight: bold;
    text-align: right;
}
